@import '../../sass/variables'
@import '../../sass/mixins'

.review
  @include flex(null, null, column)
  position: relative
  padding: 15px
  box-shadow: 0 5px 20px -2px $shadow-color
  min-height: 150px
  margin: 0 auto 30px
  width: 100%
  max-width: 500px
  &__info
    @include flex(flex-end)
    padding-bottom: 5px
    margin-bottom: 10px
    border-bottom: 1px solid $purple
  &__name
    margin-right: 10px
    text-shadow: 1px 1px #d8d3d3
  &__timestamp
    margin-left: auto
  &__body
    padding-left: 15px
    text-align: left
  &__rating
    @include flex(flex-end)
    height: 27px
    padding-bottom: 3px
    > span
      font-weight: 700
  &__delete
    align-self: flex-end
    margin-top: auto
