@import '../App/variables.sass'

.review
  position: relative
  padding: 15px
  box-shadow: 0 5px 20px -2px #c6c6c6
  min-height: 150px
  margin: 0 auto 30px
  width: 100%
  max-width: 500px
  display: flex
  flex-direction: column
  &__info
    display: flex
    align-items: flex-end
    padding-bottom: 5px
    margin-bottom: 10px
    border-bottom: 1px solid $purple
  &__name
    margin-right: 10px
    text-shadow: 1px 1px #d8d3d3
  &__timestamp
    margin-left: auto
  &__body
    padding-left: 15px
    text-align: left
  &__rating
    display: flex
    height: 27px
    padding-bottom: 3px
    align-items: flex-end
    > span
      font-weight: 700
  &__delete
    align-self: flex-end
    margin-top: auto
