@import '../../sass/variables'
@import '../../sass/mixins'

.order-item
  @include flex(center, center, column)
  position: relative
  text-align: center
  padding: 15px
  list-style: none
  &:not(:first-of-type)
    border-top: 1px solid $purple
  &__wrapper
    order: -1
    margin-bottom: 10px
    flex: 1
  &__name
    display: inline-block
    font-size: 20px
    margin-bottom: 10px
    color: $purple
  &__img
    overflow: hidden
    height: 110px
    width: 165px
  &__details
    @include flex(null, null, column)
    text-align: left
    margin-right: 20px
  .product__img
    width: auto
  &__price
    flex: 0.1
.details__item
  margin-bottom: 10px

@media (min-width: 700px)
  .order-item
    @include flex(flex-start)
    text-align: left
    &__wrapper
      order: 0
      margin: 0 20px
