@import '../App/variables.sass'

.product
  padding: 10px 0
  text-align: center
  border-radius: 8px
  border-top: 5px solid $purple
  box-shadow: 0 3px 20px #cdc6c6
  &__header
    position: relative
    display: flex
    align-items: center
    justify-content: center
  &__name
    margin-bottom: 10px
    color: $purple
    font-size: 18px
  &__img
    width: 100%
  &__description
    line-height: 1.5
    margin-bottom: 5px
    letter-spacing: 0.5px
    height: 95px
  &__price
    display: inline-block
    margin-bottom: 10px
    font-size: 24px
    color: $light-green
  &__discount
    margin-left: 10px
    font-size: 22px
    font-weight: 700
    color: $purple

.rating
  font-size: 22px
  &__container
    position: absolute
    right: 20px
    top: -5px
    height: 30px
    display: flex
    align-items: center
    justify-content: center

.add-to-cart
  height: 65px
  display: flex
  align-items: flex-end
  flex-wrap: wrap
  justify-content: space-around
  &__error
    width: 100%
  &__btn
    border-radius: 5px
    padding: 10px 30px
    font-size: 20px
    background: #2fa3bb
    border: 0
    color: #FFF
    transition: background 200ms, box-shadow 150ms
    box-shadow: 0px 3px 10px #7f7f7f
    &:hover
      background: #2dc0dd
      box-shadow: 0px 5px 15px #7f7f7f
