*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: Lato, sans-serif
  padding-top: 100px
  color: #737373

button
  cursor: pointer

.pickers
  display: flex
  justify-content: space-around
  height: 70px
  margin-bottom: 20px

.color-picker, .size-picker
  position: relative
  width: 100px
