@import './variables.sass'

*
  margin: 0
  padding: 0
  box-sizing: border-box

::placeholder
  font-style: italic

body
  font-family: Lato, sans-serif
  padding-top: 100px
  color: $black
  background: $white
  overflow-x: hidden

button
  cursor: pointer

.weight-300
  font-weight: 300

.weight-400
  font-weight: 400

.weight-700
  font-weight: 700

.pickers
  display: flex
  justify-content: space-around
  height: 70px
  margin-bottom: 10px

.color-picker, .size-picker
  position: relative
  width: 100px

.remove-btn
  @media (max-width: 699px)
    position: absolute
    top: 15px
    right: 15px
  outline: 0
  border: 0
  margin-left: 10px
  transition: background 150ms, box-shadow 150ms
  border-radius: 3px
  background: $red
  box-shadow: 0 1px 3px $shadow-color
  &:hover
    background: $light-red
    box-shadow: 0 2px 7px $shadow-color

.btn
  border-radius: 5px
  border: 0
  display: inline-block
  height: 35px
  line-height: 35px
  padding: 0 20px
  color: $white
  transition: background 200ms, box-shadow 150ms
  box-shadow: 0px 5px 15px -5px $shadow-color
  text-decoration: none
  &:hover
    box-shadow: 0px 5px 15px -1px $shadow-color
  &--default
    background: $white
    color: $black
    border: 1px solid $shadow-color
  &--primary
    background: $purple
    &:hover
      background: $light-purple
  &--secondary
    background: $dark-blue
    &:hover
      background: $light-blue
  &--danger
    background: $red
    &:hover
      background: $light-red

.shadow
  box-shadow: 0 5px 15px $shadow-color

.border-radius
  border-radius: 8px

.mb-20
  margin-bottom: 20px
