@import '../../sass/variables'
@import '../../sass/mixins'

.modal
  @include flex(center, center)
  cursor: pointer
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 100vh
  z-index: 999
  background: rgba(0, 0, 0, 0.8)
  &__info
    cursor: default
    background: $white
    padding: 20px
  &__title
    margin-bottom: 40px
  &__btn-group
    @include flex(null, flex-end)
    > .btn--default
      margin-right: 20px
