@import '../../sass/variables'
@import '../../sass/mixins'

.search-bar
  display: none
  flex: 2
  height: 40px
  &__input-wrapper
    @include flex()
    position: relative
    height: 100%
    max-width: 500px
    margin: 0 auto
    border: 2px solid $purple
    box-shadow: 0 5px 20px -10px $purple
  &__input
    border: none
    outline: 0
    padding: 0px 0px 1px 15px
    font-size: 18px
    letter-spacing: 0.5px
    flex: 1
    transition: box-shadow 250ms
    &:focus
      box-shadow: 0 5px 25px -8px $purple
  &__results
    display: none
    position: absolute
    top: 45px
    left: 0
    width: 100%
    overflow: hidden
    box-shadow: 0 5px 15px $shadow-color
    &--open
      display: block
  &__list
    position: relative
    min-height: 80px
    background: #FFF
    max-height: 350px
    height: 100%
    overflow-scrolling: touch
    overflow-y: scroll
    overflow-x: hidden
    &::-webkit-scrollbar
      display: none
  &__item
    @include flex(center)
    padding: 5px 15px
    height: 80px
    text-decoration: none
    color: inherit
    &:not(:first-of-type)
      border-top: 1px solid $purple
  &__img .product__img
    display: block
    height: 50px
    width: auto
    border-radius: 3px
  &__details
    flex: 1
    padding-left: 15px
  &__name
    color: $purple
  &__description
    flex: 1
  &__price
    color: $light-green
    width: 60px
  &__info
    @include flex(center, center)
    height: 80px
