@import '../App/variables.sass'

.nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  display: flex
  align-items: center
  height: 70px
  box-shadow: 0 2px 5px #dedede
  background: #FFF
  z-index: 100
  &__menu
    display: flex
    align-items: center
    list-style: none
  &__item
    &:last-child
      margin-left: 40px
  &__link
    position: relative
    user-select: none
    padding: 10px 0
    font-size: 18px
    text-decoration: none
    font-weight: 700
    color: #cecece
    letter-spacing: 1px
    transition: color 300ms ease-in
    &:hover
      color: $purple
    &--active
      color: $light-purple
      pointer-events: none
      &::after
        content: ''
        position: absolute
        width: 5px
        height: 5px
        border-radius: 50%
        bottom: 3px
        right: calc(50% - 3.5px)
        z-index: 80
        background: $purple

.nav__badge
  position: absolute
  top: -5px
  right: -20px
  border-radius: 50%
  background: $purple
  font-size: 15px
  padding: 3px 7px
  color: #FFF
